<%#
  This template uses only the pagy_url_for helper from pagy and link_to from rails
  No special optimization for speed and memory. Use the pagy helpers if speed and memory are important.
-%>
<% rel = { pagy.prev => 'prev', pagy.next => 'next' } %>

<nav aria-label="pager"  class="pagination" role="navigation">
  <ul class="pagination">

    <% if pagy.prev -%>
      <li class="page-item prev">
        <%= link_to pagy_t('pagy.nav.prev').html_safe, pagy_url_for(pagy.prev), rel: 'prev', class: 'page-link', 'aria-label': "previous" %>
      </li>
    <% else -%>
      <li class="page-item prev disabled">
        <%= link_to pagy_t('pagy.nav.prev').html_safe, pagy_url_for('#'), class: 'page-link'%>
      </li>
    <% end -%>


    <% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
      <% case item
           when Integer -%>
          <li class="page-item"><%== link_to item, pagy_url_for(item), rel: rel[item], class: 'page-link' %></li>

        <% when String -%>
          <li class="page-item active"><%== link_to item, pagy_url_for(item), class: 'page-link'%></li>

        <% when :gap -%>
          <li class="page-item disabled gap"><%== link_to pagy_t('pagy.nav.gap').html_safe, '#', class: 'page-link'%></li>

      <% end -%>
    <% end -%>

    <% if pagy.next -%>
      <li class="page-item next">
        <%= link_to pagy_t('pagy.nav.next').html_safe, pagy_url_for(pagy.next), rel: 'next', class: 'page-link', 'aria-label': "next" %>
      </li>
    <% else -%>
      <li class="page-item next disabled">
        <%= link_to pagy_t('pagy.nav.next').html_safe, pagy_url_for('#'), class: 'page-link'%>
      </li>
    <% end -%>

  </ul>
</nav>
