<%#
  This template uses only the pagy_url_for helper from pagy and link_to/link_to_if from rails
  No special optimization for speed and memory. Use the pagy helpers if speed and memory are important.
-%>
<% rel = { pagy.prev => 'prev', pagy.next => 'next' } %>

<nav aria-label="pager" class="pagination" role="navigation">

  <span class="page prev <%= 'disabled' unless pagy.prev %>">
    <%= link_to_if pagy.prev, pagy_t('pagy.nav.prev').html_safe, pagy_url_for(pagy.prev), rel: 'prev', 'aria-label': "previous" %>
  </span>

  <% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
    <% case item

       when Integer -%>
        <span class="page"><%= link_to item, pagy_url_for(item), rel: rel[item] %></span>

      <% when String  -%>
        <span class="page current"><%= item %></span>

      <% when :gap    -%>
        <span class="page gap"><%== pagy_t('pagy.nav.gap') %></span>

    <% end -%>
  <% end -%>

  <span class="page next <%= 'disabled' unless pagy.next %>">
    <%= link_to_if pagy.next, pagy_t('pagy.nav.next').html_safe, pagy_url_for(pagy.next), rel: 'next', 'aria-label': "next"  %>
  </span>

</nav>
