<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% link = pagy_link_proc(pagy, 'class="page-link"') -%>
<%#                            -%><nav   class="inline-block">
<%#                            -%>  <ul class="flex list-none border border-blue-400 rounded w-auto">
<% if pagy.prev                -%>    <li class="block  hover:text-white hover:bg-blue-600 text-blue border-r border-blue-400 px-3 py-2"><%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %></li>
<% else                        -%>    <li class="block  hover:text-white hover:bg-blue-600 text-blue border-r border-blue-400 px-3 py-2 cursor-not-allowed"><a href="#"><%== pagy_t('pagy.nav.prev') %></a></li>
<% end                         -%>
<% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if    item.is_a?(Integer) -%>    <li class="block hover:text-white hover:bg-blue-600 text-blue border-r border-blue-400 px-3 py-2"><%== link.call(item) %></li>
<%   elsif item.is_a?(String)  -%>    <li class="block text-white bg-blue-400 border-r border-blue px-3 py-2"><%== link.call(item) %></li>
<%   elsif item == :gap        -%>    <li class="block hover:text-white hover:bg-blue-600 text-blue border-r border-blue-400 px-3 py-2 cursor-not-allowed"><a href="#"><%== pagy_t('pagy.nav.gap') %></a></li>
<%   end                       -%>
<% end                         -%>
<% if pagy.next                -%>    <li class="block hover:text-blue-600 hover:bg-blue text-blue px-3 py-2"><%== link.call(pagy.next, pagy_t('pagy.nav.next'),'aria-label="next"') %></li>
<% else                        -%>    <li class="block hover:text-blue-600 hover:bg-blue text-blue px-3 py-2 cursor-not-allowed"><a href="#" class=""><%== pagy_t('pagy.nav.next') %></a></li>
<% end                         -%>
<%#                            -%>  </ul>
<%#                            -%></nav>
